// -------------------------------------------------
// --- An example "server.cfg" for a Garry's Mod
// --- Trouble in Terrorist Town Server
// -------------------------------------------------

// [ Hostname ]
hostname "Example Garry's Mod TTT Server"

// [ Server ]
sv_password "anunsecurepassword"
sv_contact "admin@example.com"
sv_loadingurl "https://example.com/sv_loadingurl"
sv_lan "0"
sv_region "255"
sv_voiceenable "0"

// [ Round Time/Amount ]
ttt_preptime_seconds "20"
ttt_posttime_seconds "15"

ttt_round_limit "8"
ttt_time_limit_minutes "45"

// [ Role Percentages ]
// ttt_traitor_pct "0.4"
// ttt_traitor_max "3"
// ttt_detective_pct "0.18"
// ttt_detective_max "2"
// ttt_detective_min_players "6"

// [ Prep and Postround Additions ]
ttt_postround_dm "1"
ttt_no_nade_throw_during_prep "1"

// [ Karma ]
// Karma is enabled to prevent too many random kills.
ttt_karma "1"
ttt_karma_max "1100"
ttt_karma_clean_bonus "50"
ttt_karma_traitorkill_bonus "0"
ttt_karma_low_amount "600"
ttt_karma_low_ban_minutes "5"
ttt_karma_persist "1"

// [ Credits ]
// ttt_credits_detectivekill "1"
// ttt_det_credits_traitorkill "1"
// ttt_det_credits_traitordead "0"

// [ Miscellaneous ]
ttt_spec_prop_control "0"
ttt_detective_hats "1"
